body {
    font-family: Arial, Helvetica, sans-serif;    
}

.wrapper {
    margin: 10% 20%;
    display: flex;
    background-color: #f6f6f6;
    justify-content: space-between;
}
  
.main-form {
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 0 10px #149914,
                0 15px 50px;
}
  
.result {
    width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 0 10px #149914,
                0 15px 50px;
}
  
.item-result {
    display: flex;    
}

.item-result p {
    margin-top: 0;
    margin-bottom: 0;
}
.item-result label {
    margin-right: 10px;
}
.sex {
    border: 1px solid white;
    margin: 2px;
}
.sex span img {
    width: 25px;
}

.acronym {
    color: #149914;
    margin-left: 5px;
    font-weight: bold;
}

.btn-calcular {
    display: flex;
    background-color: #149914;
    color: white;
    width: 100%;
    justify-content: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
}
  
.items {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}
.items label {
    margin-right: 8px;
    font-weight: bold;
}

.title {
    background-color: #149914;
    color: white;
    text-align: center;
}

.description {
    color: rgb(177, 174, 174);
    text-align: center;
}

#imc-label,
#imc {
    font-size: 40pt;
}